
page-register {
  
  
    img {
      max-width: 250px;
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  
    .form {
      padding: 10px;
      overflow: hidden;
  
      .item-inner {
          margin-left: 10px !important;
      }
  
     
  
      .item-inner {
        border-bottom-color: theme-colors('mainColors', 'secondary') !important;
        box-shadow: none !important;
      }
  
      [button-clear] {
        margin-top: 15px;
      }
  
      [title] {
        font-size: font-size-text('h1');
        color: theme-colors('textColors', 'primary');
        text-transform: uppercase;
        margin: 0 10px;
      }
    }
}

 .container{ width:60%; }
 
 .align-left{ float: left;width:50%; }
 .align-right{float: right;width:50%}
 div {
 
     margin-left: auto;
     margin-right: auto;
 }
 input{
     
     font-size : 30px;
 }
 .ff{
     width: 100%;
 }
 
 
 .app-font{
     white-space: inherit;
     font-size: 50px;
     opacity: 0.7;
   }
 .toast-success {
     > div{
          background-color:#32db64!important;
      }
   }
   .toast-failure {
     > div{
          background-color:#e23434!important;
      }
   }
 
   .login{
       margin-top: 40px;
      margin-left: 90px;
      width:120px;
   }
 
