page-register {
    [logo] {
        overflow: hidden;
    }
  
    img {
      max-width: 250px;
      display: block;
      text-align: right;
      float: right;
    }
  
    .form {
      padding: 10px;
      overflow: hidden;
  
      .item-inner {
          margin-left: 10px !important;
      }
  
      .item-md ion-icon[item-left] {
        margin: 25px 0 0;
      }
  
      .item-inner {
        border-bottom-color: theme-colors('mainColors', 'primary') !important;
        box-shadow: none !important;
      }
  
      [button-clear] {
        margin-top: 15px;
      }
  
      [title] {
        font-size: font-size-text('h1');
        color: theme-colors('textColors', 'primary');
        text-transform: uppercase;
        margin: 0 10px;
      }
    }
}

 .container{ width:60%; }
 
 .align-left{ float: left;width:50%; }
 .align-right{float: right;width:50%}
 div {
 
     margin-left: auto;
     margin-right: auto;
 }
 input{
     
     font-size : 30px;
 }
 .ff{
     width: 100%;
 }
 .logb{
 
     /*
     
     background-image: -ms-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
     
  
     background-image: -moz-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
     
   
     background-image: -o-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
     
  
     background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FDFFFC), color-stop(50, #8C8ADE), color-stop(100, #49ACDE), color-stop(100, #807779));
     
   
     background-image: -webkit-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
     
  
     background-image: linear-gradient(to top, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
     background-repeat: no-repeat;
     */
     
 }
 
 .app-font{
     white-space: inherit;
     font-size: 50px;
     opacity: 0.7;
   }
 .toast-success {
     > div{
          background-color:#32db64!important;
      }
   }
   .toast-failure {
     > div{
          background-color:#e23434!important;
      }
   }
 
   .login{
       margin-top: 40px;
      margin-left: 90px;
      width:120px;
   }
 