<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    <ion-title>BILLERS </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="topbar" padding>

    <ion-item>
       
        <ion-searchbar class="low" [(ngModel)]= "sparam" placeholder="Search Billers" (ngModelChange)="searchchanged($event)" type="text" value=""></ion-searchbar>
      </ion-item>
      <div *ngIf="snip2">
<ion-item  detail-push text-wrap class="listh" *ngFor="let d of data | search: sparam "  (click)="logdata(d)">
<font color="#23aadb" >
   
    <ion-icon  color="#23aadb"  style="padding-right: 10px" name="logo-buffer"></ion-icon> <b>{{d.merchantName}}</b></font>

</ion-item>
</div>

<div *ngIf="snip">
    <ion-item detail-push class="listh" (click)="ga()">
    <font color="#23aadb"  >
        <ion-icon   color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil"><b>Government Agencies</b></font>
        
    </font>
    
    </ion-item>
    <ion-item detail-push class="listh" (click)="ut()">
        <font  color="#23aadb" >
            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil"><b>Utilities</b></font>
            
        </font>
        
        </ion-item>
        <ion-item detail-push class="listh" (click)="bng()" >
            <font color="#23aadb"  >
                <ion-icon  color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font  color="#23aadb"  class="bil"><b>Betting & Gaming</b></font>
                
            </font>
            
            </ion-item>
            <ion-item detail-push class="listh" (click)="fn()">
                <font color="#23aadb"  >
                    <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil"><b>Finance</b></font>
                    
                </font>

                
                </ion-item>
    <ion-item detail-push class="listh" (click)="pt()">
        <font color="#23aadb"  >
            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil"><b>PayTv</b></font>
            
        </font>
        
        </ion-item>
        <ion-item detail-push class="listh" (click)="sl()">
            <font color="#23aadb"  >
                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil" ><b>Schools</b></font>
                
            </font>
            
            </ion-item>
            <ion-item detail-push class="listh" (click)="hc()">
                <font color="#23aadb"  >
                    <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil"><b>Healthcare</b></font>
                    
                </font>
                
                </ion-item>
                <ion-item detail-push class="listh" (click)="it()">
                    <font color="#23aadb"  >
                        <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font olor="#23aadb" class="bil"><b>Internet</b></font>
                        
                    </font>
                    
                    </ion-item>
                    <ion-item detail-push class="listh" (click)="air()">
                        <font color="#23aadb" >
                            <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil"><b>>Airline</b></font>
                            
                        </font>
                        
                        </ion-item>
                        <ion-item detail-push class="listh" (click)="at()">
                            <font color="#23aadb" >
                                <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil"><b>Airtime</b></font>
                                
                            </font>
                            
                            </ion-item>
                        <ion-item detail-push class="listh" (click)="ins()">
                            <font color="#23aadb" >
                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil"><b>Insurance</b></font>
                                
                            </font>
                            
                            </ion-item>
                            <ion-item detail-push class="listh" (click)="ong()">
                                <font color="#23aadb" >
                                    <ion-icon color="#23aadb"   style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil"><b>Oil and Gas</b></font>
                                    
                                </font>
                                
                                </ion-item>
                                <ion-item  detail-push class="listh" (click)="ngo()">
                                    <font color="#23aadb" >
                                        <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil"><b>NGO Foundations</b></font>
                                        
                                    </font>
                                    
                                    </ion-item>
                                    <ion-item detail-push  class="listh" (click)="ch()">
                                        <font color="#23aadb" >
                                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil"><b>Church</b></font>
                                            
                                        </font>
                                        
                                        </ion-item>
                                        <ion-item detail-push class="listh" (click)="mcn()">
                                            <font color="#23aadb"  >
                                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil"><b>General Merchants</b></font>
                                                
                                            </font>
                                            
                                            </ion-item>
                                    <ion-item detail-push class="listh" (click)="od()">
                                        <font color="#23aadb" >
                                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil"><b>Other</b> </font>
                                            
                                        </font>
                                    
                                        </ion-item>
    </div>
</ion-content>
