<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    <ion-title>BILLERS </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="topbar" padding>

    <ion-item>
       
        <ion-searchbar class="low" [(ngModel)]= "sparam" placeholder="Search Billers" (ngModelChange)="searchchanged($event)" type="text" value=""></ion-searchbar>
      </ion-item>
      <div *ngIf="snip2">
<ion-item  detail-push text-wrap class="listh" *ngFor="let d of data | search: sparam "  (click)="logdata(d)">
<font color="#23aadb" >
   
    <ion-icon  color="#23aadb"  style="padding-right: 10px" name="logo-buffer"></ion-icon> {{d.merchantName}}</font>

</ion-item>
</div>

<div *ngIf="snip">
    <ion-item detail-push class="listh" (click)="ga()">
    <font color="#23aadb"  >
        <ion-icon   color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil">Government Agencies</font>
        
    </font>
    
    </ion-item>
    <ion-item detail-push class="listh" (click)="ut()">
        <font  color="#23aadb" >
            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil">Utilities</font>
            
        </font>
        
        </ion-item>
        <ion-item detail-push class="listh" (click)="bng()" >
            <font color="#23aadb"  >
                <ion-icon  color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font  color="#23aadb"  class="bil">Betting & Gaming</font>
                
            </font>
            
            </ion-item>
            <ion-item detail-push class="listh" (click)="fn()">
                <font color="#23aadb"  >
                    <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil">Finance</font>
                    
                </font>

                
                </ion-item>
    <ion-item detail-push class="listh" (click)="pt()">
        <font color="#23aadb"  >
            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil">PayTv</font>
            
        </font>
        
        </ion-item>
        <ion-item detail-push class="listh" (click)="sl()">
            <font color="#23aadb"  >
                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil" >Schools</font>
                
            </font>
            
            </ion-item>
            <ion-item detail-push class="listh" (click)="hc()">
                <font color="#23aadb"  >
                    <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb" class="bil">Healthcare</font>
                    
                </font>
                
                </ion-item>
                <ion-item detail-push class="listh" (click)="it()">
                    <font color="#23aadb"  >
                        <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font olor="#23aadb" class="bil">Internet</font>
                        
                    </font>
                    
                    </ion-item>
                    <ion-item detail-push class="listh" (click)="air()">
                        <font color="#23aadb" >
                            <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil">Airline</font>
                            
                        </font>
                        
                        </ion-item>
                        <ion-item detail-push class="listh" (click)="at()">
                            <font color="#23aadb" >
                                <ion-icon color="#23aadb"  style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil">Airtime</font>
                                
                            </font>
                            
                            </ion-item>
                        <ion-item detail-push class="listh" (click)="ins()">
                            <font color="#23aadb" >
                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil">Insurance</font>
                                
                            </font>
                            
                            </ion-item>
                            <ion-item detail-push class="listh" (click)="ong()">
                                <font color="#23aadb" >
                                    <ion-icon color="#23aadb"   style="padding-right: 10px" name="list"></ion-icon><font color="#23aadb"  class="bil">Oil and Gas</font>
                                    
                                </font>
                                
                                </ion-item>
                                <ion-item  detail-push class="listh" (click)="ngo()">
                                    <font color="#23aadb" >
                                        <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">NGO Foundations</font>
                                        
                                    </font>
                                    
                                    </ion-item>
                                    <ion-item detail-push  class="listh" (click)="ch()">
                                        <font color="#23aadb" >
                                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Church</font>
                                            
                                        </font>
                                        
                                        </ion-item>
                                        <ion-item detail-push class="listh" (click)="mcn()">
                                            <font color="#23aadb"  >
                                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">General Merchants</font>
                                                
                                            </font>
                                            
                                            </ion-item>
                                    <ion-item detail-push class="listh" (click)="od()">
                                        <font color="#23aadb" >
                                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Other</font>
                                            
                                        </font>
                                    
                                        </ion-item>
    </div>
</ion-content>
