<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    <ion-title>GENPAY</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
<h1 text-center ><font class="app-font"><b>BILLERS</b></font></h1>
    <ion-item>
       
        <ion-searchbar class="low" [(ngModel)]= "sparam" placeholder="Search Billers" (ngModelChange)="searchchanged($event)" type="text" value=""></ion-searchbar>
      </ion-item>
      <div *ngIf="snip2">
<ion-item text-wrap class="listh" *ngFor="let d of data | search: sparam "  (click)="logdata(d)">
<h2 >
   
    <ion-icon style="padding-right: 10px" name="logo-buffer"></ion-icon> {{d.merchantName}} <ion-icon  float-right name="arrow-forward"></ion-icon>
</h2>
<br>
</ion-item>
</div>

<div *ngIf="snip">
    <ion-item class="listh" (click)="ga()">
    <h2 >
        <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Government Agencies</font><ion-icon  float-right name="arrow-forward"></ion-icon>
        
    </h2>
    <br>
    </ion-item>
    <ion-item class="listh" (click)="ut()">
        <h2 >
            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Utilities</font><ion-icon  float-right name="arrow-forward"></ion-icon>
            
        </h2>
        <br>
        </ion-item>
        <ion-item class="listh" (click)="bng()" >
            <h2 >
                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Betting & Gaming</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                
            </h2>
            <br>
            </ion-item>
            <ion-item class="listh" (click)="fn()">
                <h2 >
                    <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Finance</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                    
                </h2>

                <br>
                </ion-item>
    <ion-item class="listh" (click)="pt()">
        <h2 >
            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">PayTv</font><ion-icon  float-right name="arrow-forward"></ion-icon>
            
        </h2>
        <br>
        </ion-item>
        <ion-item class="listh" (click)="sl()">
            <h2 >
                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil" >Schools</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                
            </h2>
            <br>
            </ion-item>
            <ion-item class="listh" (click)="hc()">
                <h2 >
                    <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Healthcare</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                    
                </h2>
                <br>
                </ion-item>
                <ion-item class="listh" (click)="it()">
                    <h2 >
                        <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Internet</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                        
                    </h2>
                    <br>
                    </ion-item>
                    <ion-item class="listh" (click)="air()">
                        <h2 >
                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Airline</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                            
                        </h2>
                        <br>
                        </ion-item>
                        <ion-item class="listh" (click)="at()">
                            <h2 >
                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Airtime</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                
                            </h2>
                            <br>
                            </ion-item>
                        <ion-item class="listh" (click)="ins()">
                            <h2 >
                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Insurance</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                
                            </h2>
                            <br>
                            </ion-item>
                            <ion-item class="listh" (click)="ong()">
                                <h2 >
                                    <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Oil and Gas</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                    
                                </h2>
                                <br>
                                </ion-item>
                                <ion-item class="listh" (click)="ngo()">
                                    <h2 >
                                        <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">NGO Foundations</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                        
                                    </h2>
                                    <br>
                                    </ion-item>
                                    <ion-item class="listh" (click)="ch()">
                                        <h2 >
                                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Church</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                            
                                        </h2>
                                        <br>
                                        </ion-item>
                                        <ion-item class="listh" (click)="mcn()">
                                            <h2 >
                                                <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">General Merchants</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                                
                                            </h2>
                                            <br>
                                            </ion-item>
                                    <ion-item class="listh" (click)="od()">
                                        <h2 >
                                            <ion-icon style="padding-right: 10px" name="list"></ion-icon><font class="bil">Other</font><ion-icon  float-right name="arrow-forward"></ion-icon>
                                            
                                        </h2>
                                        <br>
                                        </ion-item>
    </div>
</ion-content>
