page-profile {

}
.listh {
    background-color: #ffffff;
}
.listh:hover {
    background-color: #ccd4e2;
}
ion-searchbar{
    width: 100%;

}

.app-font{
    white-space: inherit;
    font-size: 40px;
    opacity: 0.7;
  }
  .bil{
    font-size: 20px;
}
 .low{
    margin: 0 !important;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
}