page-home {
    ion-input {
        text-align: center;
        color:  #000000;
        }
        input{
            text-align: center;
            color:  #000000;
            font-size : 30px;
        }
   
}
.container{ width:100%; }

.align-left{ float: left;width:50%; }
.align-right{float: right;width:50%}
ion-icon {
    font-size: 20px; //Preferred size here
}

#rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
}

.getstarta {// background-image: url('../assets/images/bg7.png')
}
div {

    margin-left: auto;
    margin-right: auto;
}
ion-label{
    margin-left: auto;
    margin-right: auto;
}
ion-input {
    text-align: center;
    color:  #000000;
    }
input{
    text-align: center;
    color:  #000000;
    font-size : 30px;
}
.ff{
    width: 100%;
}

.ss{
    margin-left: auto;
    margin-right: auto;
}

.logb{

    /*
    
    background-image: -ms-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
    
 
    background-image: -moz-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
    
  
    background-image: -o-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
    
 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FDFFFC), color-stop(50, #8C8ADE), color-stop(100, #49ACDE), color-stop(100, #807779));
    
  
    background-image: -webkit-linear-gradient(bottom, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
    
 
    background-image: linear-gradient(to top, #FDFFFC 0%, #8C8ADE 50%, #49ACDE 100%, #807779 100%);
    background-repeat: no-repeat;
    */
    
}

.app-font{
    white-space: inherit;
    font-size: 40px;
    opacity: 0.7;
  }
.toast-success {
    > div{
         background-color:#32db64!important;
     }
  }
  .toast-failure {
    text-align: center; 
    > div{
         text-align: center; 
         background-color:#e23434!important;
         
     }
  }

  .login{
      margin-top: 40px;
     margin-left: 90px;
     width:120px;
  }